receivers:
  otlp:
    protocols:
      grpc:
        endpoint: localhost:4317
processors:
  memory_limiter:
    check_interval: 1s
    limit_percentage: 65
    spike_limit_percentage: 20
  batch:
    timeout: 5s
    send_batch_size: 200
    send_batch_max_size: 200
  resourcedetection:
    detectors: [env, gcp]
    timeout: 5s
exporters:
  googlecloud:
    project: ${GOOGLE_CLOUD_PROJECT}
    log:
      default_log_name: opentelemetry
  nop:
extensions:
  health_check:
    endpoint: 0.0.0.0:13133
service:
  extensions:
    - health_check
  pipelines:
    traces:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, batch]
      exporters: [googlecloud]
    metrics:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, batch]
      exporters: [nop]
    logs:
      receivers: [otlp]
      processors: [memory_limiter, resourcedetection, batch]
      exporters: [googlecloud]
